#sidenav_ {
    background: rosybrown;
}

.App {
  text-align: center;
}

.input-wrapper {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.todo-input {
    resize: none;
}

.button-wrapper {
    position: absolute;
    gap: 2px;
    bottom: 0.5rem;
    right: 5rem;
}
.button-wrapper button {
    margin: 2rem;
    width: 8rem;
    height: 5rem;
    font-size: 16px;
}

.task-wrapper {
    position: absolute;
    top: 2rem;
    left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-fragment {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 2.5rem;
}


.task-fragment button {
    margin-right: 0.5rem;
}

.btn-task-text,
.btn-task-edit,
.btn-task-edit img,
.checkbox-done {
    width: 2rem;
    height: 2rem;
}

.btn-task-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-task-edit img {
    margin: 0 auto;
}

.btn-task-text {
    width: 10rem;
}